@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  width: 100vw;
  height: 100vh;
  
  font-family: "Roboto";
}


textarea {
  @apply
  border
  border-slate-300
  w-full
  p-1
  rounded
  outline-0
}
  
label{
  @apply
  my-5
}


h1 {
  @apply
  text-lg
  font-bold
}

h2 {
  @apply
  text-base
  font-bold
}

button {
  @apply
  p-1
  w-full
  max-w-[300px]
  px-3
  rounded
  m-3
  bg-emerald-700
  text-white
  duration-100
  hover:bg-emerald-600

}



