@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  width: 100vw;
  height: 100vh;
  
  font-family: "Roboto";
}


textarea {
  @apply
  border
  border-slate-300
  w-full
  p-1
  rounded
  outline-0
}
  

label {
@apply
font-black
}

button {
  @apply
  p-2 
  rounded
  mx-3
  bg-emerald-700
  text-white
  duration-100
  hover:bg-emerald-600
  my-auto

}



